@page "/CMS"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@using PEESFPIV.Frontend.Components.Layout;
@using PEESFPIV.Frontend.Models;
@using System.Security.Claims
@using PEESFPIV.Frontend.States
@using System.Data

@layout CMSLayout



<PageTitle>CMS</PageTitle>

<div class="flex flex-col ">
</div>



@code {

}