@using PEESFPIV.Frontend.Components.Components.Frontend
@inherits LayoutComponentBase


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
<link rel="stylesheet" href="css/dashlite.css">
<link id="skin-default" rel="stylesheet" href="css/theme.css">

<div class="nk-body bg-white npc-default has-aside">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap">
                <div class="nk-header  is-light header-enger">
                    <!-- nk-header-fixed -->
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="#" class="logo-link">
                                    <img style="height: 85px;" class="logo-dark logo-img" src="images/logo.png"
                                        srcset="images/logo.png 2x" alt="logo">
                                </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-menu" style="margin-left: auto;">
                                <ul class="nk-menu nk-menu-main">
                                    <li class="nk-menu-item">
                                        <a href="#" class="nk-menu-link">
                                            <span class="nk-menu-text">
                                                Home
                                            </span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="#" class="nk-menu-link">
                                            <span class="nk-menu-text">About</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-text">Activities</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="research" class="nk-menu-link"><span
                                                        class="nk-menu-text">Research and Studies</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/workshop.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">Training workshop Courses</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/training.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">Other training materials</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/network.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">Energy Efficiency Network</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/enterprises.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">Enterprises</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/roadmap.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">ESCO Roadmap</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/event.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">Events</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/photo.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">Photo Library</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/development.html" class="nk-menu-link"><span
                                                        class="nk-menu-text">EE Development</span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="html/contact.html" class="nk-menu-link">
                                            <span class="nk-menu-text">Contacts</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="html/support-kb.html" class="nk-menu-link">
                                            <span class="nk-menu-text">EN</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                </ul><!-- .nk-menu -->
                            </div><!-- .nk-header-menu -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="d-lg-none">
                                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em
                                                class="icon ni ni-menu"></em></a>
                                    </li>
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                    <div class="line-header"></div>
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="banner-header">
                    <div class="slider-banner owl-carousel owl-theme">
                        <!-- owl-carousel owl-theme -->
                        <!-- <div class="slider-banner-item" id="banner1" style="width:100vw;height: 100svh;"></div> -->
                        <div class="slider-banner-item"
                            style="width:100vw;height: 100svh;background-image: url('images/banner1.png');">
                        </div>
                        <div class="slider-banner-item"
                            style="width:100vw;height: 100svh;background-image: url('images/banner2.jpg');">
                        </div>
                        <div class="slider-banner-item"
                            style="width:100vw;height: 100svh;background-image: url('images/banner3.jpg">
                        </div>
                    </div>
                </div>
                <div class="nk-content menu-mobile">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true"
                                data-toggle-screen="lg" data-toggle-body="true">
                                <div class="nk-sidebar-menu" data-simplebar>
                                    <ul class="nk-menu nk-menu-main">
                                        <li class="nk-menu-item">
                                            <a href="html/index.html" class="nk-menu-link">
                                                <span class="nk-menu-text">Home</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="html/index.html" class="nk-menu-link">
                                                <span class="nk-menu-text">About</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item has-sub">
                                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                                <span class="nk-menu-text">Activities</span>
                                            </a>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-messages.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Research and Studies</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-inbox.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Training workshop Courses</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-file-manager.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Other training materials</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-chats.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Energy Efficiency Network</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-calendar.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Enterprises</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">ESCO Roadmap</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Events</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">Photo Library</span></a>
                                                </li>
                                                <li class="nk-menu-item">
                                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span
                                                            class="nk-menu-text">EE Development</span></a>
                                                </li>
                                            </ul><!-- .nk-menu-sub -->
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="html/components.html" class="nk-menu-link">
                                                <span class="nk-menu-text">Contacts</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="html/support-kb.html" class="nk-menu-link">
                                                <span class="nk-menu-text">VN</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                    </ul><!-- .nk-menu -->
                                </div><!-- .nk-sidebar-menu -->
                                <div class="nk-aside-close">
                                    <a href="#" class="toggle" data-target="sideNav"><em
                                            class="icon ni ni-cross"></em></a>
                                </div><!-- .nk-aside-close -->
                            </div><!-- .nk-aside -->
                        </div>
                    </div>
                </div>
                <div class="nk-content bg-gray-img objectives">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-content-body pt-0">
                                <div class="nk-content-wrap " data-aos="fade-up">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="div-title">
                                                <div class="div-title-line"></div>
                                                <h3 class="title-big">Objectives</h3>
                                                <div class="div-title-line"></div>
                                            </div><!-- .nk-block-head-content -->
                                        </div><!-- .nk-block-between -->
                                    </div><!-- .nk-block-head -->
                                </div>
                                <div class="row g-gs justify-content-around">
                                    <div class="div-objective-block col-12 col-md-6" data-aos="fade-up">
                                        <div class="div-objective-gray">
                                            <div class="div-objective-number">01 .</div>
                                            <div class="div-objective-text">Enhance Energy Efficiency in supporting and
                                                food processing industries through increasing public and private-sector
                                                awareness of RE & EE practice</div>
                                            <div class="div-objective-line"></div>
                                        </div>
                                    </div>
                                    <div class="div-objective-block col-12 col-md-6" data-aos="fade-up">
                                        <div class="div-objective-gray">
                                            <div class="div-objective-number">02 .</div>
                                            <div class="div-objective-text">Supporting the private sector to access
                                                financing for their Energy Efficiency investments</div>
                                            <div class="div-objective-line"></div>
                                        </div>
                                    </div>
                                    <div class="div-objective-block col-12 col-md-6 mt-5rem" data-aos="fade-up">
                                        <div class="div-objective-gray">
                                            <div class="div-objective-number">03 .</div>
                                            <div class="div-objective-text">Networking among manufacturers, financiers
                                                and Energy Service Companies (ESCOs)</div>
                                            <div class="div-objective-line"></div>
                                        </div>
                                    </div>
                                    <div class="div-objective-block col-12 col-md-6 mt-5rem" data-aos="fade-up">
                                        <div class="div-objective-gray">
                                            <div class="div-objective-number">04 .</div>
                                            <div class="div-objective-text">Piloting an Energy Efficiency bench-marking
                                                for Supporting and Food Processing Industries in Vietnam
                                            </div>

                                            <div class="div-objective-line"></div>
                                        </div>
                                    </div>
                                    <div class="div-objective-block col-12 col-md-6 mt-5rem" data-aos="fade-up">
                                        <div class="div-objective-gray">
                                            <div class="div-objective-number">05 .</div>
                                            <div class="div-objective-text">Developing a road map for the establishment
                                                of an ESCO Association in Vietnam.
                                            </div>
                                            <div class="div-objective-line"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-content " data-aos="fade-up">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-content-body pt-0">
                                <div class="nk-content-wrap ">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="div-title">
                                                <div class="div-title-line"></div>
                                                <h3 class="title-big">Project Key focus areas</h3>
                                                <div class="div-title-line"></div>
                                            </div><!-- .nk-block-head-content -->
                                        </div><!-- .nk-block-between -->
                                    </div><!-- .nk-block-head -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-ct div-project-key">
                    <div data-aos="fade-up" class="div-item"
                        style="background: url('images/Capacitybuilding.jpg')lightgray 50%/cover no-repeat;">
                        <div class="div-project-key-banner">
                            <div class="div-text">
                                <span class="">Capacity building for supporting and food processing
                                    manufacturers</span>
                            </div>
                            <div class="div-project-line">
                                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="8" viewBox="0 0 89 8"
                                    fill="none">
                                    <path
                                        d="M88.1314 4.35355C88.3267 4.15829 88.3267 3.84171 88.1314 3.64645L84.9495 0.464466C84.7542 0.269204 84.4376 0.269204 84.2424 0.464466C84.0471 0.659728 84.0471 0.976311 84.2424 1.17157L87.0708 4L84.2424 6.82843C84.0471 7.02369 84.0471 7.34027 84.2424 7.53553C84.4376 7.7308 84.7542 7.7308 84.9495 7.53553L88.1314 4.35355ZM34.9434 4.5H87.7779V3.5H34.9434V4.5Z"
                                        fill="white" />
                                    <path d="M0.755859 4L28.7271 4" stroke="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="div-item"
                        style="background: url('images/Networking.png')lightgray 50%/cover no-repeat;">
                        <div class="div-project-key-banner">
                            <div class="div-text">
                                <span class="">EE network development</span>
                            </div>
                            <div class="div-project-line">
                                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="8" viewBox="0 0 89 8"
                                    fill="none">
                                    <path
                                        d="M88.1314 4.35355C88.3267 4.15829 88.3267 3.84171 88.1314 3.64645L84.9495 0.464466C84.7542 0.269204 84.4376 0.269204 84.2424 0.464466C84.0471 0.659728 84.0471 0.976311 84.2424 1.17157L87.0708 4L84.2424 6.82843C84.0471 7.02369 84.0471 7.34027 84.2424 7.53553C84.4376 7.7308 84.7542 7.7308 84.9495 7.53553L88.1314 4.35355ZM34.9434 4.5H87.7779V3.5H34.9434V4.5Z"
                                        fill="white" />
                                    <path d="M0.755859 4L28.7271 4" stroke="white" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div data-aos="fade-up" class="div-item"
                        style="background: url('images/Benchmarkingtool.jpeg')lightgray 50%/cover no-repeat;">
                        <div class="div-project-key-banner">
                            <div class="div-text">
                                <span class="">A scale-able EE bench-marking tool is piloted in factories </span>
                            </div>
                            <div class="div-project-line">
                                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="8" viewBox="0 0 89 8"
                                    fill="none">
                                    <path
                                        d="M88.1314 4.35355C88.3267 4.15829 88.3267 3.84171 88.1314 3.64645L84.9495 0.464466C84.7542 0.269204 84.4376 0.269204 84.2424 0.464466C84.0471 0.659728 84.0471 0.976311 84.2424 1.17157L87.0708 4L84.2424 6.82843C84.0471 7.02369 84.0471 7.34027 84.2424 7.53553C84.4376 7.7308 84.7542 7.7308 84.9495 7.53553L88.1314 4.35355ZM34.9434 4.5H87.7779V3.5H34.9434V4.5Z"
                                        fill="white" />
                                    <path d="M0.755859 4L28.7271 4" stroke="white" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div data-aos="fade-up" class="div-item"
                        style="background: url('images/Escoassociation.jpg')lightgray 50%/cover no-repeat;">
                        <div class="div-project-key-banner">
                            <div class="div-text">
                                <span class="">A road map for an ESCO Association establishment</span>
                            </div>
                            <div class="div-project-line">
                                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="8" viewBox="0 0 89 8"
                                    fill="none">
                                    <path
                                        d="M88.1314 4.35355C88.3267 4.15829 88.3267 3.84171 88.1314 3.64645L84.9495 0.464466C84.7542 0.269204 84.4376 0.269204 84.2424 0.464466C84.0471 0.659728 84.0471 0.976311 84.2424 1.17157L87.0708 4L84.2424 6.82843C84.0471 7.02369 84.0471 7.34027 84.2424 7.53553C84.4376 7.7308 84.7542 7.7308 84.9495 7.53553L88.1314 4.35355ZM34.9434 4.5H87.7779V3.5H34.9434V4.5Z"
                                        fill="white" />
                                    <path d="M0.755859 4L28.7271 4" stroke="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="div-item"
                        style="background: url('images/Policyrecommendation.jpg')lightgray 50%/cover no-repeat;">
                        <div class="div-project-key-banner">
                            <div class="div-text">
                                <span class="">Policy recommendations</span>
                            </div>
                            <div class="div-project-line">
                                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="8" viewBox="0 0 89 8"
                                    fill="none">
                                    <path
                                        d="M88.1314 4.35355C88.3267 4.15829 88.3267 3.84171 88.1314 3.64645L84.9495 0.464466C84.7542 0.269204 84.4376 0.269204 84.2424 0.464466C84.0471 0.659728 84.0471 0.976311 84.2424 1.17157L87.0708 4L84.2424 6.82843C84.0471 7.02369 84.0471 7.34027 84.2424 7.53553C84.4376 7.7308 84.7542 7.7308 84.9495 7.53553L88.1314 4.35355ZM34.9434 4.5H87.7779V3.5H34.9434V4.5Z"
                                        fill="white" />
                                    <path d="M0.755859 4L28.7271 4" stroke="white" />
                                </svg>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="nk-content " data-aos="fade-up">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-content-body pt-0">
                                <div class="nk-content-wrap ">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="div-title">
                                                <div class="div-title-line"></div>
                                                <h3 class="title-big">Expected outcomes</h3>
                                                <div class="div-title-line"></div>
                                            </div><!-- .nk-block-head-content -->
                                        </div><!-- .nk-block-between -->
                                    </div><!-- .nk-block-head -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-ct div-outcomes">
                    <div class="div-outcomes-item" data-aos="fade-up">
                        <div class="img-outcomes">
                            <img src="images/1001fod.png" alt="">
                        </div>
                        <div class="div-outcomes-content">
                            <span class="title-outcomes">100 Food processing and supporting</span>
                            <span class="des-outcomes">Manufacturers have improved management practices to more
                                efficient energy consumption in production and a better ultilisation of available energy
                                resources</span>
                        </div>
                    </div>
                    <div class=" div-outcomes-item" data-aos="fade-up">
                        <div class="img-outcomes">
                            <img src="images/10fac.png" alt="">
                        </div>
                        <div class="div-outcomes-content">
                            <span class="title-outcomes">10 Factories</span>
                            <span class="des-outcomes">Supported in developing bankable energy efficiency
                                projects</span>
                        </div>
                    </div>
                    <div class=" div-outcomes-item" data-aos="fade-up">
                        <div class="img-outcomes">
                            <img src="images/3indus.png" alt="">
                        </div>
                        <div class="div-outcomes-content">
                            <span class="title-outcomes">> 3 Industries enterprises</span>
                            <span class="des-outcomes">Adopting improved energy efficiency technologies</span>
                        </div>
                    </div>
                    <div class=" div-outcomes-item" data-aos="fade-up">
                        <div class="img-outcomes">
                            <img src="images/1eenet.png" alt="">
                        </div>
                        <div class="div-outcomes-content">
                            <span class="title-outcomes">01 EE network</span>
                            <span class="des-outcomes">(Manufacturers, ESCOs, financiers and relevant
                                stakeholders...)</span>
                        </div>
                    </div>
                    <div class=" div-outcomes-item" data-aos="fade-up">
                        <div class="img-outcomes">
                            <img src="images/roadmap.png" alt="">
                        </div>
                        <div class="div-outcomes-content">
                            <span class="title-outcomes">A road map</span>
                            <span class="des-outcomes">For an ESCO Association establishment</span>
                        </div>
                    </div>
                    <div class="div-outcomes-item" data-aos="fade-up">
                        <div class="img-outcomes">
                            <img src="images/eeben.png" alt="">
                        </div>
                        <div class="div-outcomes-content">
                            <span class="title-outcomes">EE bench-marking tool</span>
                            <span class="des-outcomes">A scale-able EE bench-marking tool</span>
                        </div>
                    </div>
                    <!-- content @e -->
                </div>
                <div class="nk-content pb-5 mb-5">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-content-body pt-0">
                                <div class="nk-content-wrap ">
                                    <div class="nk-block-head nk-block-head-sm" data-aos="fade-up">
                                        <div class="nk-block-between">
                                            <div class="div-title">
                                                <div class="div-title-line"></div>
                                                <h3 class="title-big">Key Partners</h3>
                                                <div class="div-title-line"></div>
                                            </div><!-- .nk-block-head-content -->
                                        </div><!-- .nk-block-between -->
                                    </div><!-- .nk-block-head -->
                                    <div class="row-ct div-key-partners">
                                        <div class="key-partner-spon" data-aos="fade-up">
                                            <div class="title-key-partner mb-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="54" height="21"
                                                    viewBox="0 0 54 21" fill="none">
                                                    <path d="M48.5 0H54L46.5 10.5L54 21H48.5L41 10.5L48.5 0Z"
                                                        fill="#0D5A00" />
                                                    <path d="M28 0H33.5L26 10.5L33.5 21H28L20.5 10.5L28 0Z"
                                                        fill="#0D5A00" />
                                                    <path d="M7.5 0H13L5.5 10.5L13 21H7.5L0 10.5L7.5 0Z"
                                                        fill="#0D5A00" />
                                                </svg>
                                                <span>Sponsors</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="54" height="21"
                                                    viewBox="0 0 54 21" fill="none">
                                                    <path d="M5.5 0H0L7.5 10.5L0 21H5.5L13 10.5L5.5 0Z"
                                                        fill="#0D5A00" />
                                                    <path d="M26 0H20.5L28 10.5L20.5 21H26L33.5 10.5L26 0Z"
                                                        fill="#0D5A00" />
                                                    <path d="M46.5 0H41L48.5 10.5L41 21H46.5L54 10.5L46.5 0Z"
                                                        fill="#0D5A00" />
                                                </svg>
                                            </div>
                                            <div class="block-logo-spon">
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/energy.jpg" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/unops.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/AFD1.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/Germany.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/Environment_Canada_1.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/UKDESNZ.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/austra.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/childrens-investment-fund.png" alt="">
                                                </a>
                                                <a href="#" class="logo-spon">
                                                    <img src="images/logo/sequoia_logo.png" alt="">
                                                </a>

                                            </div>
                                        </div>
                                        <div class="col-12 pl-0 pr-0 row-ct justify-content-between" data-aos="fade-up">
                                            <a href="#" class="col-md-49 col-12 key50 mt-3 logo-key-50">
                                                <span>Implementing <br> Organization</span>
                                                <div class="logo-50">
                                                    <img src="images/logo/vcci.jpg" alt="">
                                                </div>
                                            </a>
                                            <a href="#" class="col-md-49 col-12 key50 mt-3 logo-key-50">
                                                <span>Co-partner</span>
                                                <div class="logo-50">
                                                    <img src="images/logo/yuko.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <!-- content @e -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-content footer pb-5">
                    <div class=" container wide-xl">
                        <div class="footer-container">
                            <div class="footer-content">
                                <span class="title-footer">Vietnam Chamber of Commerce and Industry (VCCI)</span>
                                <span class="title-footer-2">Project: Promotion of Energy Efficiency in Supporting and
                                    Food Processing Industries in Vietnam</span>
                                <div class="info-footer">
                                    <span class="contact-ft"><span class="ft-contact-high">Project Contact
                                            person:</span> Ms. Pham Thai An</span>
                                    <span class="contact-ft"><span class="ft-contact-high">Address:</span> VCCI
                                        building, No. 9 Dao Duy Anh, Dong Da, Hanoi.</span>
                                    <span class="contact-ft"><span class="ft-contact-high">Moblie: </span>
                                        0973.654.038</span>
                                    <span class="contact-ft"><span class="ft-contact-high">Email: </span>
                                        anpt-itb@vcci.com.vn</span>
                                </div>
                            </div>
                            <div class="footer-contact">
                                <span>Contact</span>
                                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="46"
                                        viewBox="0 0 48 46" fill="none">
                                        <path
                                            d="M48 23.0576C48 10.3298 37.248 0 24 0C10.752 0 0 10.3298 0 23.0576C0 34.2175 8.256 43.5098 19.2 45.6541V29.9749H14.4V23.0576H19.2V17.2932C19.2 12.8431 22.968 9.22306 27.6 9.22306H33.6V16.1404H28.8C27.48 16.1404 26.4 17.1779 26.4 18.4461V23.0576H33.6V29.9749H26.4V46C38.52 44.8471 48 35.0246 48 23.0576Z"
                                            fill="#0D5A00" />
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wrap @e -->
            </div>
            <!-- main @e -->
        </div>
        @Body
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".slider-banner").owlCarousel({
            items: 1,
            loop: true,
            // autoplay: true,
            // autoplayTimeout: 6000,
            // autoplayHoverPause: false,
            // smartSpeed: 1500,
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="js/bundle.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="js/common.js"></script>