<div class="nk-content footer pb-5">
    <div class=" container wide-xl">
        <div class="footer-container">
            <div class="footer-content">
                <span class="title-footer">Vietnam Chamber of Commerce and Industry (VCCI)</span>
                <span class="title-footer-2">Project: Promotion of Energy Efficiency in Supporting and
                    Food Processing Industries in Vietnam</span>
                <div class="info-footer">
                    <span class="contact-ft"><span class="ft-contact-high">Project Contact
                            person:</span> Ms. Pham Thai An</span>
                    <span class="contact-ft"><span class="ft-contact-high">Address:</span> VCCI
                        building, No. 9 Dao Duy Anh, Dong Da, Hanoi.</span>
                    <span class="contact-ft"><span class="ft-contact-high">Moblie: </span>
                        0973.654.038</span>
                    <span class="contact-ft"><span class="ft-contact-high">Email: </span>
                        anpt-itb@vcci.com.vn</span>
                </div>
            </div>
            <div class="footer-contact">
                <span>Contact</span>
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="46" viewBox="0 0 48 46"
                        fill="none">
                        <path
                            d="M48 23.0576C48 10.3298 37.248 0 24 0C10.752 0 0 10.3298 0 23.0576C0 34.2175 8.256 43.5098 19.2 45.6541V29.9749H14.4V23.0576H19.2V17.2932C19.2 12.8431 22.968 9.22306 27.6 9.22306H33.6V16.1404H28.8C27.48 16.1404 26.4 17.1779 26.4 18.4461V23.0576H33.6V29.9749H26.4V46C38.52 44.8471 48 35.0246 48 23.0576Z"
                            fill="#0D5A00" />
                    </svg></a>
            </div>
        </div>
    </div>
</div>