<div class="nk-header  is-light header-enger">
    <!-- nk-header-fixed -->
    <div class="container-lg wide-xl">
        <div class="nk-header-wrap">
            <div class="nk-header-brand">
                <a href="#" class="logo-link">
                    <img style="height: 85px;" class="logo-dark logo-img" src="images/logo.png"
                        srcset="images/logo.png 2x" alt="logo">
                </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-menu" style="margin-left: auto;">
                <ul class="nk-menu nk-menu-main">
                    <li class="nk-menu-item">
                        <NavLink href="/" class="nk-menu-link">
                            <span class="nk-menu-text">
                                Home
                            </span>
                        </NavLink>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/About" class="nk-menu-link">
                            <span class="nk-menu-text">About</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-text">Activities</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="researchstudy" class="nk-menu-link"><span class="nk-menu-text">Research and
                                        Studies</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/workshop.html" class="nk-menu-link"><span class="nk-menu-text">Training
                                        workshop Courses</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/training.html" class="nk-menu-link"><span class="nk-menu-text">Other
                                        training materials</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/network.html" class="nk-menu-link"><span class="nk-menu-text">Energy
                                        Efficiency Network</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/enterprises.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Enterprises</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/roadmap.html" class="nk-menu-link"><span class="nk-menu-text">ESCO
                                        Roadmap</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/event.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Events</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/photo.html" class="nk-menu-link"><span class="nk-menu-text">Photo
                                        Library</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="html/development.html" class="nk-menu-link"><span class="nk-menu-text">EE
                                        Development</span></a>
                            </li>
                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/contacts" class="nk-menu-link">
                            <span class="nk-menu-text">Contacts</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="html/support-kb.html" class="nk-menu-link ">
                            <span class="nk-menu-text">EN</span>
                        </a>
                    </li>
                    <!-- .nk-menu-item -->
                </ul><!-- .nk-menu -->
            </div><!-- .nk-header-menu -->
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="d-lg-none">
                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em
                                class="icon ni ni-menu"></em></a>
                    </li>
                </ul><!-- .nk-quick-nav -->
            </div><!-- .nk-header-tools -->
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
    <div class="line-header"></div>
</div>
<!-- main header @e -->
<!-- content @s -->
<div class="nk-content menu-mobile">
    <div class="container wide-xl">
        <div class="nk-content-inner">
            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg"
                data-toggle-body="true">
                <div class="nk-sidebar-menu" data-simplebar>
                    <ul class="nk-menu nk-menu-main">
                        <li class="nk-menu-item">
                            <a href="html/index.html" class="nk-menu-link">
                                <span class="nk-menu-text">Home</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="html/index.html" class="nk-menu-link">
                                <span class="nk-menu-text">About</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-text">Activities</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="html/apps-messages.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Research and Studies</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-inbox.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Training workshop Courses</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-file-manager.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Other training materials</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-chats.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Energy Efficiency Network</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-calendar.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Enterprises</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span class="nk-menu-text">ESCO
                                            Roadmap</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Events</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span
                                            class="nk-menu-text">Photo Library</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/apps-kanban.html" class="nk-menu-link"><span class="nk-menu-text">EE
                                            Development</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="html/components.html" class="nk-menu-link">
                                <span class="nk-menu-text">Contacts</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="html/support-kb.html" class="nk-menu-link">
                                <span class="nk-menu-text">VN</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                    </ul><!-- .nk-menu -->
                </div><!-- .nk-sidebar-menu -->
                <div class="nk-aside-close">
                    <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
                </div><!-- .nk-aside-close -->
            </div><!-- .nk-aside -->
        </div>
    </div>
</div>

@code {

}