@page "/CMS/auth/access-denied"
@using PEESFPIV.Frontend.Components.Layout;
@using PEESFPIV.Frontend.Models;
@layout CMSLayout

<PageTitle>Login</PageTitle>

<div class="flex flex-col gap-y-4 w-full">
</div>

@code {
   
}

