@page "/cms/auth/logout"
@using PEESFPIV.Frontend.Components.Layout;
@using Microsoft.AspNetCore.Authentication;
@using PEESFPIV.Frontend.Constants;
@inject NavigationManager NavigationManager;
@layout AuthLayout

<PageTitle>Logout</PageTitle>


<p>Logging out...</p>

@code {
    [CascadingParameter]
    public HttpContext HttpContext {get;set;} = default!;

    protected override async Task OnInitializedAsync()
    {
        if(HttpContext is not null){
            await HttpContext.SignOutAsync(Cookies.AuthScheme);
            NavigationManager.NavigateTo("/cms/auth/login",replace: true);
        }
        else NavigationManager.Refresh(true);
        await base.OnInitializedAsync();
    } 

}

    
