@page "/"
@using PEESFPIV.Frontend.Components.Layout;
@using PEESFPIV.Frontend.Models;
@layout MainLayout

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-y-4 w-full">

</div>

@code {

}

